<%= form_with(model: @producer, url: roast_step_2_path, class: 'row') do |form| %>
  <div class="col-sm-12">
    <%= @crop.name %> - <%= @crop.crop_year %>
    <div class="col-sm-12">
      <h4>Produced by <%= @crop.producer_profile.name %></h4>
    </div>
  </div>
  <%= hidden_field_tag :crop_id, @crop.id %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= form.submit "Next step", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>