<% content_for :body_class, 'login-img3-body' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>
  <div class="login-wrap">
    <p class="login-img"><i class="icon_lock_alt"></i></p>
    <div class="input-group">
      <span class="input-group-addon"><i class="icon_profile"></i></span>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="icon_key_alt"></i></span>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <label class="checkbox" for="remember_me">
        <%= f.check_box :remember_me %> Remember Me
        <span class="pull-right"> <%= link_to "Forgot password?", new_user_password_path %></span>
      </label>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-block" %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success btn-lg btn-block'%>
    </div>
  </div>
<% end %>
