<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><%= @roaster_profile.name %></h3>
  </div>
</div>

<p>
  <strong>Location:</strong>
  <%= @roaster_profile.location %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to "Website", "http://#{@roaster_profile.url}" %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= link_to "Twitter", "https://twitter.com/#{@roaster_profile.twitter}" %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= link_to "Facebook", "https://facebook.com/#{@roaster_profile.facebook}" %>
</p>

<%= link_to 'Edit', edit_roaster_profile_path(@roaster_profile) %> |
<%= link_to 'Back', roaster_profiles_path %>
