<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container"><a class="navbar-brand" href="#">Cafe au Chain | Proof of Perk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to root_path, class: 'nav-link' do %>
            Home <span class="sr-only">(current)</span>
          <% end %>
        </li>
        <% if user_signed_in? && !current_user.admin? && current_user.roaster_profile.nil? %>
          <li class="nav-item">
            <%= link_to 'Finish setting up your profile', new_roaster_profile_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user_signed_in? ? current_user.name : "Get Started"  %>
          </a>
          <% if user_signed_in? %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                <i class="icon_profile"></i> My Account
              <% end %>
              <%= link_to manage_subscription_roaster_profiles_path, class: 'dropdown-item' do %>
                <i class="icon sync"></i> Manage Subscription
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "<i class='icon_key_alt'></i> Log Out".html_safe, destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          <% else %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Sign In', new_user_session_path, class: 'dropdown-item' %>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'dropdown-item' %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>