<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cafe au Chain | Know where your coffee comes from" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cafe au Chain | Proof of Perk helps roaster track their coffee from distributors through the roasting process, and helps their customers learn where their coffee comes from." %>">
    <%= favicon_link_tag asset_path('cac-unofficial-logo.png') %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= yield(:body_class) %>">
    <%= react_component "navigation", props = {user: current_user, loggedIn: user_signed_in?} %>
    <%= yield %>
    <%= react_component "footer", props = {user: current_user, loggedIn: user_signed_in?}, {:class => "site-footer"} %>
    <!-- Start of HubSpot Embed Code -->
      <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5365116.js"></script>
    <!-- End of HubSpot Embed Code -->
  </body>
</html>
